!!! 5
%html
  %head
    %title Tic Tac Toe
    %link(rel="stylesheet" href="stylesheets/styles.css")
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    %script(type="text/javascript" src="javascript/application.js")
  %h1 Welcome to Tic Tac Toe!
  %body= yield